[2019-02-19 17:41] vilaboim opened #1 "Adapter pattern"
Podemos usar o adapter pattern para facilitar a integração com o backend, o que acham?

Links úteis:
https://sendgrid.com/blog/using-the-adapter-design-pattern-with-react/
https://bocoup.com/blog/adapter-pattern-a-must-for-vendor-service-integrations

[2019-02-19 17:42] vilaboim opened #2 "Patterns"
Achei esse link que parece ser interessante:
https://reactpatterns.com/

Coloquem aqui os artigos que vocês conhecem que falam de padrões React.

[2019-02-19 18:09] rafael1995 commented on #2
![estrutura](https://user-images.githubusercontent.com/10281577/53037145-3146ca00-3458-11e9-9316-b3cba0027c03.png)

Segue a estrutura de diretórios que já havíamos definido, se ainda restarem duvidas.. já vamos "matando" isso.

[2019-02-19 18:15] rafael1995 opened #3 "Estrutura de Diretórios"
Galera, segue a estrutura de diretórios que definimos na época da moo-cli.

Futuramente, ao iniciar um projeto através da cli a ideia é termos essa estrutura:

![estrutura](https://user-images.githubusercontent.com/10281577/53037416-ec6f6300-3458-11e9-993b-5b1a45363cc1.png)

[2019-02-19 18:18] rafael1995 commented on #1
Ainda não vi a fundo, mas acredito que isso pode nos ajudar

https://github.com/dabit3/create-new-cli

[2019-02-19 19:58] vilaboim commented on #3
@rafael1995, mande prints de dentro das pastas components (que não está aí), store e views.

[2019-02-20 00:27] stanleygomes commented on #3
@vilaboim

O rafael tinha feito a estrutura nesse repositório:
https://github.com/rafael1995/struct-example

Fiz um pull request como essa estrutura.

[2019-02-20 00:59] stanleygomes opened #6 "Configuração focada para PWA"
Eu não entendi bem se já ta tudo pronto para funcionar a configuração do PWA, mas caso tenha que criar alguma facilitação na configuração, aqui tem uma issue para isso.

[2019-02-20 01:09] stanleygomes opened #8 "Port da aplicação para electron"
Vocês acham válido?

https://getstream.io/blog/takeaways-on-building-a-react-based-app-with-electron

[2019-02-20 12:21] vilaboim commented on #3
#5

[2019-02-20 12:29] vilaboim commented on #8
Por enquanto não, não existe demanda e ainda nem sabemos a estrutura para um projeto web.
Acho importante dominarmos a estrutura de um projeto React web antes de adicionar mais coisas.

[2019-02-20 12:32] vilaboim commented on #6
Imagino que tenha as configs básicas, como na Vue-cli.

[2019-02-20 16:52] rafael1995 commented on #8
Também acho que não por não termos tanta demanda para aplicações desktop, sem falar da crescente com o pwa

[2019-02-20 17:00] #8 closed

[2019-02-20 18:27] vilaboim opened #9 "Pre commit/push hooks"
Acho muito interessante rodar lint e testes antes de commits e push, o que acham de colocar isso na config?

https://levelup.gitconnected.com/using-pre-commit-and-pre-push-git-hooks-in-a-react-project-6c83431ef2bd

[2019-02-20 18:55] rafael1995 commented on #9
Muito bom e aparentemente bem fácil de ser configurado.
Acho interessante isso ser **personalizado** no momento da criação do projeto e não vejo como uma prioridade na nossa fase inicial.

[2019-02-20 20:40] vilaboim commented on #9
Ok, podemos fazer uma lista de tasks e essa fica no fim.

[2019-02-20 22:25] stanleygomes commented on #8
Beleza.

Vou fechar essa issue e trabalhar em outra ideia.

[2019-02-20 22:28] stanleygomes commented on #6
Ótimo!!

[2019-02-20 22:28] #6 closed

[2019-02-22 11:39] ramonvlopes commented on #9
Acho bem bacana essa questão do pre-commit. Podemos avaliar bem a possibilidade de deixar um padrão básico de configuração, mas talvez não deixar essa configuração exposta inicialmente. Apenas deixar para o usuário, utilizar ou não.

[2019-02-22 13:27] vilaboim commented on #9
@ramonvlopes, temos que avaliar aquela questão dos branches que conversamos.
Vou abrir uma issue para isso.

[2019-02-22 13:32] vilaboim opened #10 "Flux"
Como vocês imaginam trabalhar o Flux em um projeto React.
Pelo pouco que conheço imagino que podemos optar por Redux ou não (usando Context).

Quem fosse usar o projeto escolheria usar Redux ou não usar, sem mais opções, pois acho que infla demais.

[2019-02-22 13:34] vilaboim opened #11 "Separação de branches"
Em alguns casos, como na issue #10, o usuário pode escolher usar ou não uma feature.
Como podemos separar isso no projeto?

Exemplo: na branch master o projeto vai fazer uso de Redux, e numa branch "context" não o teria.

[2019-02-22 13:34] vilaboim commented on #9
#11

[2019-02-22 18:56] stanleygomes opened #12 "i18n padrão na configuração do repositório"
Objetivo é manter todos os textos do projeto separados do código da aplicação.

[2019-02-22 18:57] stanleygomes opened #13 "Gandalf-lint - Lint default do projeto (não opcional)"
Vamos melhorar a documentação do gandalf lint para definir como padrão.

[2019-02-25 20:24] vilaboim commented on #13
Vou abrir uma issue no gandalf-lint pedindo a listagem das regras.

[2019-02-25 20:41] vilaboim commented on #12
Na Zup usávamos este plugin: https://github.com/yahoo/react-intl

[2019-02-25 21:09] vilaboim opened #14 "Material UI Kit"
Pelo que estudei a UI Kit mais madura que usa Material Design é esta aqui: https://material-ui.com/

Vocês conhecem outra?

[2019-02-25 21:30] stanleygomes commented on #14
@vilaboim

Essa é a lib que o pessoal dos projetos da magazine ta usando. Acredito que é a mais usada.

Na hackathon, eu usei ela e o time do Fred também usou.

[2019-02-26 14:10] stanleygomes commented on #14
Pessoal comenta muito sobre a Semantic UI, pois ela tem muitos componentes.

https://react.semantic-ui.com/

[2019-02-26 14:50] stanleygomes opened #15 "Arquivos JS ou JSX para os components?"

[2019-02-26 14:50] stanleygomes opened #16 "Como organizar os estilos do projeto?"

[2019-02-26 14:55] stanleygomes opened #17 "NPM ou Yarn?"

[2019-02-26 19:44] vilaboim commented on #14
O problema dela é não ser Material Design.

[2019-02-26 19:49] vilaboim commented on #15
Eu acho importante bater o olho e entender o que cada arquivo faz, e para ficar claro que é um component React prefiro o uso de .jsx.

E como não traz nenhum problema no build - pois o webpack entende a extensão - não existe configuração extra.

[2019-02-26 19:51] vilaboim commented on #16
Eu sou adepto do uso de styled-components.
Acho poderoso e fácil de usar, principalmente para criar uma estrutura de temas.

Eu deixo um arquivo style.js na pasta do componente e importo ele no .jsx

[2019-02-26 20:00] stanleygomes commented on #14
beleza!

[2019-02-27 11:57] vilaboim commented on #17
Não vejo mais vantagem em usar Yarn.
Depois da versão 5 o NPM criou o package-lock, passou a ser determinístico e agora é tão rápido quanto o Yarn.

[2019-02-27 19:02] stanleygomes opened #18 "Padrão de nome de componentes"
Qual seria o melhor padrão?
/components/Loja/index.js
/components/Loja/index.jsx
/components/Loja/Loja.js
/components/Loja/Loja.jsx

Mandem outras sugestões.

Pessoal ta considerando o caso de ter vários index.js nas abas do VS Code.

É uma anotação válida.

[2019-02-27 20:51] vilaboim commented on #18
Se não for index a gente precisaria importar componentes assim: /Loja/Loja.
Acho inviável.

O VSCode tem os breadcrumbs pra diferenciar os arquivos.

[2019-02-27 20:52] vilaboim commented on #18
E como comentei na #15, prefiro .jsx, pra ficar claro que é um component React.

[2019-02-27 21:22] mkny commented on #17
Eu particularmente gosto do yarn. Motivos:
- Pela facilidade de rodar os comandos (`yarn dev` ao invés de `npm run dev`)
- Métodos auxiliares que ele tem pra gestão da node_modules (`yarn install --check-files` e outros da doc)
- Algumas vezes esquecia de colocar a flag `--save` na instalação com o npm, o yarn já é fixado isso no `yarn add`
- Caches otimizados dos packages (reutilização em novos p

[2019-02-27 21:23] mkny commented on #18
Concordo com o @vilaboim, a segunda opção parece a mais viável `/components/Loja/index.jsx`

[2019-02-27 22:36] stanleygomes opened #19 "Utilizar camada para organizar requests Http"
https://github.com/infinitered/apisauce

Também utilizar o potencial dos interceptors.

[2019-02-28 13:13] vilaboim commented on #19
Posso não ter entendido o propósito dele, mas usar apenas o axios não resolve esse problema?

Nos meus projetos em Vue eu sempre crio uma pasta resources e lá dentro um arquivo axios.js (que é a instância do axios) e outros com nomes dos recursos que preciso (users, customers, etc.), então cada recurso importa o axios.js e tem suas rotas de API.

[2019-02-28 13:16] vilaboim commented on #17
Acho que vamos chegar a lugar nenhum nessa discussão 🤣
No fim, apenas vamos definir qual arquivo vai pro .gitignore (package-lock.json ou yarn.lock).
Cada um vai usar o que quiser.

Podemos apenas criar uma votação e quem ganhar, ganhou.
Vou fazer 2 comentários abaixo, e vocês curtem o que preferirem.

[2019-02-28 13:16] vilaboim commented on #17
npm

[2019-02-28 13:17] vilaboim commented on #17
yarn

[2019-02-28 18:25] rafael1995 commented on #15
Jsx

[2019-02-28 18:30] rafael1995 commented on #14
Por mim fechou na UI Kit.

Isso também será opcional? Eu acho que deveria.

[2019-02-28 18:32] rafael1995 commented on #18
Também acho que faz mais sentido` /components/Loja/index.jsx`

[2019-02-28 18:35] rafael1995 commented on #16
Essa é uma boa discussão.

Será que devemos deixar isso padronizado?
Eu concordo com o @vilaboim .. e também temos que ter opções de css globais para o projeto..

[2019-02-28 18:43] rafael1995 opened #20 "Controle de rotas - react Router ou react-router-dom?"
Já iniciamos essa discussão na última reunião do Capitulo, mas apenas para confirmarmos e deixar registrado..

Vamos usar o que para controle de rotas, react-router ou react-router-dom ?

Minha opinião: react-router-dom

[2019-02-28 20:31] mkny commented on #20
@rafael1995 vi aqui que o que eu tinha mencionado no final do capitulo, sobre o `react-router-redux`, ele foi descontinuado.
O `react-router` é a base pro `react-router-dom`.
A questão que deve ser levantada e é válida, é com relação ao componente de history, do react-router
- `<MemoryRouter>`
- `<HashRouter>`
- `<BrowserRouter>`

Acredito que o mais tranquilo e bacana de se trabalhar é o `<Browse

[2019-02-28 20:33] mkny commented on #19
Também acho que podemos utilizar dos recursos do axios, para otimizar as requisições com as padronizações e os dicionários, que foram levantados.
O axios tem o `axios.create()` que poderia ser bem explorado, na construção desse esquema.

[2019-02-28 21:07] mkny opened #21 "Immutable"
É relevante implementar na arquitetura planejada?

[2019-02-28 23:32] stanleygomes commented on #15
Jsx

[2019-02-28 23:33] stanleygomes commented on #14
Fechado na Material design UI kit.

acho que pode ser opcional.

Podemos deixar num arquivo com as patterns informando que ela é a recomendada.

[2019-02-28 23:35] stanleygomes commented on #18
Fechou então: /components/Loja/index.jsx

[2019-02-28 23:37] stanleygomes commented on #16
Eu acho válido sim deixar um padrão de estilização.

Eu ainda tenho um preconceito de usar CSS como javascript, mas não sei se meu preconceito é valido.

[2019-02-28 23:46] stanleygomes commented on #19
Fechado com axios!!

[2019-03-01 12:22] vilaboim commented on #21
Podíamos tentar apenas aplicar os conceitos de imutabilidade na implementação do Redux, sem instalar mais uma dependência.

[2019-03-01 12:23] #15 closed

[2019-03-01 12:24] vilaboim commented on #14
Em projetos Softbox que usam Material Design ela tem que ser obrigatória.

[2019-03-01 12:24] #18 closed

[2019-03-01 12:26] vilaboim commented on #16
@stanleygomes eu imagino que esse preconceito é o mesmo que rolou quando surgiu o JSX, no fim é só JS, ele compila aquilo tudo.

[2019-03-01 12:27] vilaboim commented on #16
@rafael1995 acredito CSS global é consequência, não acho válido já pensar nele no início.
Sempre parto do pressuposto que podemos criar CSS só em componentes.

Quando menos global, melhor.

[2019-03-01 12:28] vilaboim commented on #19
@mkny exato, eu uso o axios.create no arquivo axios.js que falei acima.

[2019-03-01 12:28] #19 closed

[2019-03-01 12:33] vilaboim commented on #20
@rafael1995 como nosso projeto vai focar em web, só o react-router-dom resolve.
https://stackoverflow.com/questions/42684809/react-router-vs-react-router-dom-when-to-use-one-or-the-other

[2019-03-01 12:34] vilaboim commented on #20
@mkny eu voto em BrowserRouter, com o vue-router eu sempre uso o mode: history, que é equivalente.

[2019-03-01 14:53] vilaboim commented on #17
Conversando com o @mkny e o Marlon percebemos que precisamos travar o uso do yarn, pois pode haver alguma configuração do .npmrc

[2019-03-01 16:54] vilaboim commented on #3
Alguns links úteis:
https://github.com/marlonmleite/react-boilerplate
https://daveceddia.com/react-project-structure/

[2019-03-01 18:15] vilaboim opened #22 "Documentação de componentes"
Marlon me lembrou que existe o Docz para documentação de componentes, e o bom é que é zero config.
https://github.com/pedronauck/docz

[2019-03-02 02:39] stanleygomes opened #23 "Criar um webpack config com alias para as pastas principais do projeto"
**Objetivo:** Simplificar a importação.

**Import atual:**
import Example1 from '../components/Example1';
import Example2 from '../../utils/Example2';
import Example3 from '../../../store/Example3';

**Import desejado:**
import Example1 from 'Components/Example1';
import Example2 from 'Utils/Example2';
import Example3 from 'Store/Example3';

### **webpack.config.shared.js**

[code]

[2019-03-02 13:47] stanleygomes opened #25 "Como entraria o SASS nessa história?"
Teria um arquivo global e um arquivo para cada componente (se necessário).

Onde entraria o pre compilador? Uma pasta? Um arquivo para cada componente?

[2019-03-02 14:25] #14 closed

[2019-03-06 11:49] vilaboim commented on #25
Discutimos isso na #16

[2019-03-06 11:51] vilaboim commented on #23
Creio que isso só funcione fazendo o eject.

[2019-03-07 14:25] rafael1995 commented on #1
Definido:  Uso do adapter será discutido após a implementação do axios.

[2019-03-07 14:29] rafael1995 commented on #2
Definido: Vamos colaborar e verificar se será usado no gandalf

[2019-03-07 14:53] rafael1995 commented on #23
definido: Temos que confirmar se é somente fazendo o eject. @vilaboim

[2019-03-07 14:56] rafael1995 commented on #3
Estrutura Inicial:

src/components: Components of React to be shared and reused in the project;
src/containers: Page components that apply business knowledge and present themselves as pages;
src/common: Resources, Utilities, constants, configurations, i18n and others.
src/store: State configuration with Redux;
src/assets: static files (fonts, icons, images)
src/docz: Docs configuration
eslintrc:

[2019-03-07 16:42] #25 closed

[2019-03-07 16:42] stanleygomes commented on #10
Definido usar o redux.

[2019-03-07 16:42] #10 closed

[2019-03-07 16:43] stanleygomes commented on #12
Definida a utilização do plugin sugerido pelo @vilaboim.

A implementação será feita na issue #3

[2019-03-07 16:43] #12 closed

[2019-03-07 16:44] stanleygomes commented on #16
Definido a utilização do modelo styled-components:

https://www.styled-components.com/

[2019-03-07 16:44] #16 closed

[2019-03-07 16:46] stanleygomes opened #28 "Configurar o i18n na estrutura de pastas"
Configurar dentro da pasta common.

[2019-03-07 16:48] stanleygomes opened #29 "Ajustar pastas de acordo com padrão definido em reunião"
**Estrutura Inicial:**

src/components: Components of React to be shared and reused in the project;
src/containers: Page components that apply business knowledge and present themselves as pages;
src/common: Resources, Utilities, constants, configurations, i18n and others.
src/store: State configuration with Redux;
src/assets: static files (fonts, icons, images)
src/docz: Docs configuration
eslintr

[2019-03-07 16:49] stanleygomes commented on #23
Ideia ejetada.

[2019-03-07 16:49] #23 closed

[2019-03-07 16:50] stanleygomes opened #30 "Configurar router react"
Fazer um exemplo funcionando no hello world

Definido na issue #20

[2019-03-07 16:51] stanleygomes opened #31 "Configurar o resources com axios"
Usar estrutura apresentada pelo rafael

[2019-03-07 16:51] stanleygomes opened #32 "Configurar lint do projeto na raiz com gandalf"
Verificar se fica muito impeditivo a utilização com os padrões definidos até o momento.

[2019-03-07 16:52] stanleygomes opened #33 "Criar um exemplo do modelo adapter após configuração do axios"

[2019-03-07 16:52] stanleygomes commented on #3
Padrão definido.

[2019-03-07 16:52] #3 closed

[2019-03-07 16:53] #20 closed

[2019-03-07 16:53] stanleygomes commented on #20
Será implementado na issue #30

[2019-03-07 16:54] stanleygomes commented on #11
Definido que será feita separação de branches, mas a master terá tudo.

[2019-03-07 16:54] #11 closed

[2019-03-07 16:55] stanleygomes commented on #13
Será implementado na issue #32

[2019-03-07 16:55] #13 closed

[2019-03-07 16:56] stanleygomes opened #34 "Configurar docz no projeto"
https://github.com/pedronauck/docz

[2019-03-07 16:57] stanleygomes commented on #22
Definida a utilização do docz.

Será implementada na issue #34

[2019-03-07 16:57] #22 closed

[2019-03-07 17:05] stanleygomes opened #35 "Configurar Jest com os testes"
https://jestjs.io/

[2019-03-07 17:05] stanleygomes opened #36 "Colocar todas as informações de instalação, dependências e estrutura no arquivo README"

[2019-03-07 17:06] stanleygomes opened #37 "configurar styled-components"
https://styled-components.com

Onde colocar o CSS global?

[2019-03-07 17:25] stanleygomes opened #38 "Instalar a lib do material-ui no projeto"
http://material-ui.com

[2019-03-07 19:49] marlonmleite commented on #37
@stanleygomes acredito ser ideal criar dentro de src/common, poderia ser dentro de utils/style.js ou algo semelhante. Seria interessante ouvir outra sugestões também.

[2019-03-07 19:54] marlonmleite commented on #2
Na seção de "Patterns", poderiamos como complemento configurar por default a extensão do eslint para react integrado com o eslint do airbnb, dessa forma garantimos:

Formatações;
Padrões em ordem de função do ciclo de vida do Componente;
Tamanho máximo de linhas;
e várias outras padronizações utéis no dia a dia;
Com essas configurações, conseguimos também configurar o editor para formatar o código

[2019-03-07 19:57] marlonmleite commented on #21
Concordo com o @vilaboim, pois implementar lib de Immutable cria uma curva de complexidade desnecessária inicialmente no projeto.

[2019-03-07 19:59] marlonmleite commented on #9
Essa questão de pré-commit é ideal no momento de push, pois o commit você executa para algo parcial e até com problemas e não tudo 100% pronto.
Porém no momento do push, não pode acontecer com testes quebrados e problemas de eslint.

[2019-03-07 20:53] #21 closed

[2019-03-07 20:55] stanleygomes commented on #37
Boa @marlonmleite

Gostei de utils/style.js

vamos esperar mais opiniões do pessoal

[2019-03-07 21:04] rafael1995 commented on #2
Fala @marlonmleite !!

**Algumas** dessas questões foram discutidas.. inclusive passando pelas regras dos principais padrões (AirBnb e Standard).

E então, decidimos seguir o padrão do Standard, mas também manter algumas coisas interessantes do AirBnb.. e foi ai que surgiu o Gandalf Lint e a ideia era seguir com ele no juggernaut.

Vc chegou a ver algo a respeito?

issue: #13
https://github.com/So

[2019-03-07 21:09] rafael1995 commented on #37
Por mim, pode ser como @marlonmleite disse:
 common/utils/style.js

[2019-03-08 11:19] marlonmleite commented on #2
Fala @rafael1995, o @vilaboim me explicou mesmo essas decisões.

Acho o que podemos discutir depois é adotar algum style guide para guiar pessoas mais iniciantes no React para pegar algumas boas práticas.

[2019-03-09 02:09] stanleygomes commented on #29
Feito!

[2019-03-09 02:09] #29 closed

[2019-03-11 12:32] #1 closed

[2019-03-11 14:52] stanleygomes commented on #30
Alguém tem uma ideia que fique simples e básica usando o react-router no boilerplate?

Me ajudem a pensar em algo, por favor.

[2019-03-12 18:44] marlonmleite commented on #28
Sugestão: [React Intl](https://github.com/yahoo/react-intl)

[2019-03-20 11:58] marlonmleite commented on #17
Existem 2 pontos importantes para avaliarmos:
- Nos benchmarks recentes o yarn em comparação com o npm ganha em 80% dos casos em relação a performance;
- E essa diferença entre eles é maior ainda, quando existe instabilidade na Internet;

Vejam: https://github.com/pnpm/benchmarks-of-javascript-package-managers

[2019-03-21 13:27] marlonmleite commented on #37
Implementação executada no PR: https://github.com/SoftboxLab/juggernaut/pull/40

[2019-03-21 13:27] #37 closed

[2019-03-21 13:28] marlonmleite commented on #30
#41

[2019-03-21 13:29] marlonmleite commented on #30
teste

[2019-03-22 17:25] #30 closed

[2019-03-22 17:44] vilaboim commented on #28
O @marlonmleite fez uma pesquisa no slack React Brasil e a maioria dos devs usam o react-i18-next.
E como ele atende o que pretendíamos com o react-intl, decidimos mudar.

[2019-03-22 19:37] marlonmleite commented on #35
PR: #43

[2019-03-26 12:16] #35 closed

[2019-03-26 12:17] #32 closed

[2019-03-26 12:18] marlonmleite commented on #31
#44

[2019-03-26 12:18] #31 closed

[2019-03-26 12:18] marlonmleite commented on #28
#46

[2019-03-26 12:18] #28 closed

[2019-03-26 18:44] joseasousa opened #49 "instalar Redux no projeto, e qual alternativa para redux assíncrono Thunk ou saga"
Artigo comparando ambas
[redux thunk vs Saga](http://blog.jakegardner.me/redux-thunk-vs-saga/)

[2019-03-26 18:47] joseasousa commented on #2
Pattern de estrutura do redux
[Ducks](https://blog.rocketseat.com.br/estrutura-redux-escalavel-com-ducks/)

[2019-03-26 18:53] joseasousa commented on #49
Artigo comparando ambas
[redux thunk vs Saga](http://blog.jakegardner.me/redux-thunk-vs-saga/)

[2019-03-26 20:56] marlonmleite commented on #2
Esse padrão do Ducks quando você escala ele, fica muito complicado a manutenção.
Uma estratégia que evoluimos é que cada container tenha uma pasta com suas actions, reducers e etc.

Mas isso tem que ser bem analisado, pois se olhar não deveriamos criar reducer para tudo (todas as páginas e etc), deveriamos criar apenas para coisas que deveriam ficar globais.

Mas é complicado esse pattern, acredit

[2019-03-27 09:54] stanleygomes opened #51 "Add CONTRIBUTING.md"
Definir os padrões do repositório para issues e contribuições.

[2019-03-27 09:54] stanleygomes opened #52 "Documentação"
Onde vamos deixar a documentação do projeto?

[2019-03-27 09:55] stanleygomes opened #53 "Ideias para Hello World do repositório"
Deixem suas sugestões.

[2019-03-27 12:29] rafael1995 commented on #53
Na minha opinião,  tela de login deve ter:

- Uma mensagem com redirecionamento para criação de issues aqui no repositório.
- Uma animação simples
- E uma foto do juggernaut

[2019-03-27 12:41] joseasousa commented on #2
Acredito tambem que devemos usar redux apenas para os objetos globais, objetos de uma classe podemos usar hooks ou o próprio stado do objeto
E so so quisermos compartilhar um objeto globalmente, podemos usar a contest API

[2019-03-27 12:58] joseasousa commented on #52
pode criar um gitHub pages do projeto com a doc

[2019-03-27 14:07] joseasousa opened #54 "Sugestao de Lib Para Formuarios"
Sugestao de Lib para validação de formularios [Formik](https://jaredpalmer.com/formik/docs/guides/validation)
Ela combinada com o [Yup](https://github.com/jquense/yup) torna a validacao de formularios bem mais simples

[2019-03-27 14:20] marlonmleite commented on #54
Eu apoio o uso do Formik e também acredito que na inclusão da lib, devemos colocar HOC para conexão automatica de fields e etc.

A questão do yup podemos deixar ela como opcional (fácil de ser retirado), pois o size da lib é grande e em projetos que necessitam performance isso prejudica muito.

[2019-03-27 14:21] marlonmleite commented on #52
Acredito que a documentação deve ser no pŕoprio readme, pois não temos muitas coisas para falar, mas temos que colocar links utéis para utilização de determinados itens (exemplo material-ui, styled-components e etc);

[2019-03-27 14:22] marlonmleite commented on #38
#48

[2019-03-27 17:26] marlonmleite opened #55 "Configurar Dockerfile"
Criar a configuração base de Docker para deploy pelo time de infra.

[2019-03-27 17:27] marlonmleite commented on #55
Já estou trabalhando nisso no projeto da Magalu e assim que tiver validado e funcionando com a Infra, eu abro o PR aqui.

[2019-03-27 17:29] joseasousa commented on #49
Sugestao de lib para persistencia do redux  [redux-persist](https://github.com/rt2zz/redux-persist)

[2019-03-27 19:02] marlonmleite commented on #52
Documentação de execução base para substituir o README deveria ser algo assim + os complementos de bibliotes e outros pertinentes ao boilerplate:

# my-front-name

### Starting

Clone repo and enter in folder

[code]

Install dependencies:

[code]

Run this project:

[code]

Go to: [http://localhost:3000/](http://localhost:3000/)

### Project structure

- **src/assets**: Static files (images, font

[2019-03-29 12:36] vilaboim commented on #17
Eu fiz uns testes e o Yarn é bem mais rápido depois que ele gera o lock (o primeiro install é bem lento).

E sobre manter ou não o lock, tem essa issue e o comentário do Sindre Sorhus:
https://github.com/sindresorhus/ama/issues/479#issuecomment-310661514

Eu mudei minha opinião e votaria no Yarn.

[2019-03-30 05:39] mkny commented on #54
Já utilizei o [redux-form](https://github.com/erikras/redux-form). Apesar de complexo, ele é bem completo e customizável.

[2019-03-30 05:40] mkny commented on #49
Acho que o redux-saga é uma boa opção. Aplicações apenas com o thunk acaba sendo muito moroso nas chamadas de funções.

[2019-04-01 16:49] stanleygomes commented on #55
Boa! Tem algo que precisa pensar para kubernetes?

[2019-04-01 16:53] stanleygomes commented on #17
Definido yarn, agora que o @vilaboim mudou para o dark side.

[2019-04-01 16:53] #17 closed

[2019-04-01 17:27] stanleygomes commented on #53
Colocar o link para "contribua" e "documentação"

[2019-04-02 17:20] stanleygomes commented on #38
Adicionado pelo pull request: #48

[2019-04-02 17:20] #38 closed

[2019-04-09 12:32] mkny opened #62 "Criação da CLI"
Seria interessante termos uma CLI para agilizar tasks de desenvolvimento do projeto? Ex:
`jugger create component` ou com alias `jugger cc`
`jugger create container` ou com alias `jugger ccom`
`jugger create saga` ou com alias `jugger cs`
E por aí vai...
Seria interessante também, vincular ao projeto [moo-cli](https://github.com/SoftboxLab/moo-cli).

[2019-04-11 11:37] marlonmleite opened #63 "Ambiente de desenvolvimento lento - Atualização do react-scripts"
O ambiente de desenvolvimento está ficando muito lento, pois está "duplicando a aplicação" por causa da versão do hot-reload.

Fazendo algumas analises, ao fazer a atualização para a nova versão do react-scripts tudo funcionou corretamente.

Basicamente a solução é executar o seguinte procedimento:
[code]

[2019-04-15 21:27] #9 closed

[2019-04-15 21:29] #49 closed

[2019-04-15 21:29] #52 closed

[2019-04-15 21:31] vilaboim commented on #54
Essa integração vai depender da library de componentes. O que for definido tem que vir pra cá.

[2019-04-15 21:31] #54 closed

[2019-04-15 21:32] vilaboim commented on #53
#51

[2019-04-15 21:32] #53 closed

[2019-04-15 21:33] vilaboim commented on #55
@marlonmleite isso é realmente necessário no Juggernaut?

Processos de deploy variam entre projetos, alguns vão usar Docker, outro CircleCI, outros Jenkins, etc.

[2019-04-15 21:52] stanleygomes commented on #55
@vilaboim

É por que o dockerfile independe da ferramenta de deploy. Seria só para construir uma máquina com todos os requisitos do projeto para ser usada para deploy da aplicação.

Ai no circleci, jenkins, gitlab ci, bitbucket ci etc, cada um tem sua configuração num arquivo  (.YML). Aí este arquivo eu já acho que não precisa.

[2019-04-16 12:26] vilaboim commented on #55
Mas é um projeto muito simples para precisar de Docker.
Pra montar o ambiente você seleciona a versão do node e roda yarn build.
Realmente não vejo necessidade nisso.

[2019-04-16 12:39] marlonmleite commented on #55
Essa parte do Docker é desnecessário, pois a unica coisa que precisa para nosso front funcionar é o NPM.
O projeto de front caso dependa de backend, o backend em si que deve fornecer meios de executarmos local seja com docker ou sem para testar o front chamando o backend.

Quando o time de infra vai configurar o projeto nosso de front para deploy, eles ignoram o nosso Dockerfile e utilizam 1 no pa

[2019-04-16 12:40] marlonmleite commented on #36
@stanleygomes essa issue ainda é relevante?

[2019-04-16 12:41] marlonmleite commented on #51
@stanleygomes isso já foi executado?

[2019-04-16 12:48] vilaboim commented on #51
Não, tem que criar o CONTRIBUTE e o ISSUE_TEMPLATE.

[2019-04-16 12:49] #55 closed

[2019-04-16 12:49] #36 closed

[2019-04-18 18:03] #63 closed

[2019-04-30 14:55] vilaboim opened #69 "Adicionar links na documentação"
Exemplo:

Why React? [LINK]
Why Formik? [LINK]

[2019-05-07 12:42] rafael1995 commented on #69
Why Formik? https://bit.ly/2V8zi94

Why Axios? https://bit.ly/2lvRZmi

Why Material-UI? https://bit.ly/2m5SUvi

Why react-i18next? https://bit.ly/2J7nfag

[2019-05-16 12:09] rafael1995 commented on #69
Why Formik?

Formik é uma pequena biblioteca que nos ajuda com as 3 partes essenciais em formulários:

- Obtendo valores dentro e fora do estado do formulário
- Validação e mensagens de erro
- Manipulando envio de formulário

E não tem ligações com o redux :+1:

[2019-05-16 12:20] rafael1995 commented on #69
Why Axios?

- Intercept request and response
- Make XMLHttpRequests from the browser
- Supports the Promise API
- Transform request and response data
- Cancel requests
- Automatic transforms for JSON data
- Client side support for protecting against XSRF

[2019-05-21 13:54] rafael1995 opened #71 "Componente de formulário"
**Descrição**: Componente de formulário com mais ou menos 10 campos, utilizando os principais tipos de inputs (Text, Select, radio Button, date)

 **O que usar**: Formik e Yup para validaçoẽs

[2019-05-21 13:56] rafael1995 opened #72 "Componente de Table"
**Descrição**: Componente de table utilizando o ui-material e o axios para busca de dados e listagem

**O que usar**: UI-Material

[2019-05-24 18:22] rafael1995 commented on #34
@marlonmleite

[2019-07-31 21:08] #2 closed

[2019-07-31 21:08] #33 closed

[2019-07-31 21:08] #34 closed

[2019-09-17 18:14] vilaboim commented on #71
Melhor adicionar isso no Juggernaut-demo.

[2019-09-17 18:14] #71 closed

[2019-09-17 18:14] vilaboim commented on #72
Melhor adicionar isso no Juggernaut-demo.

[2019-09-17 18:14] #72 closed

[2019-09-17 18:14] vilaboim commented on #62
O Juggernaut será adicionado a moo-cli.

[2019-09-17 18:14] #62 closed

[2019-09-17 19:49] vilaboim opened #83 "Add Code coverage"
**Is your feature request related to a problem? Please describe.**
When we run `yarn test:coverage` there is almost no coverage.

**Describe the solution you'd like**
Write tests to all files listed on code coverage report.

[2019-09-17 20:33] vilaboim opened #84 "Add Button component"
**Is your feature request related to a problem? Please describe.**
We need to add a button component bypassing material-ui button.

**Describe alternatives you've considered**
A imagined a button importing material-ui button and then exporting, easy peasy.

[2019-09-17 20:37] vilaboim opened #85 "Add Circular Progress Component"
**Is your feature request related to a problem? Please describe.**
We need to add a loader component bypassing material-ui [circular progress](https://material-ui.com/components/progress/).

**Describe alternatives you've considered**
I imagined a loader component importing material-ui circular progress and then exporting.

[2019-09-17 21:33] vilaboim opened #86 "Change commons for common"
**Describe the bug**
The folder of common assets is named wrongly, should name [`common`](https://dictionary.cambridge.org/us/dictionary/english/common)

**Additional context**
The word `Commons` has another [meaning](https://dictionary.cambridge.org/us/dictionary/english/commons?q=Commons)

[2019-09-18 11:49] marlonmleite commented on #86
Hey, but the word commons is based in common's.

[2019-09-18 12:00] vilaboim commented on #86
This is wrong the same way.
We usually use the apostrophe to show [possession](https://www.grammarbook.com/punctuation/apostro.asp), and here is not the case.

[2019-09-18 16:47] mkny opened #87 "Add CI / Docker file sample"
**Is your feature request related to a problem? Please describe.**
Wouldn't be great if the project include some Docker / CI examples, on the most common  platforms?
Ex:
- circleci
- gitlab-ci
- travis-ci
- azure devops
- drone-ci

**Describe the solution you'd like**
I've found a repository from react-native-community [here](https://github.com/react-native-community/ci-sample), that make use of s

[2019-09-18 17:05] vilaboim commented on #87
Great idea :clap:

[2019-09-25 16:10] ehuange commented on #86
@vilaboim I'd like to take this issue please.

[2019-09-26 01:04] Bus42 commented on #85
I'd like to tackle this one : )

[2019-09-26 01:57] Bus42 commented on #85
Okay, I went ahead and made the component but I can't do a PR

[2019-09-26 11:26] vilaboim commented on #86
@ehuange be our guest.

[2019-09-26 11:27] vilaboim commented on #85
@Bus42 be our guest.

[2019-09-26 18:00] vilaboim opened #88 "Add link to Juggernaut Demo"
**Is your feature request related to a problem? Please describe.**
We need to link [Juggernaut Demo](https://github.com/SoftboxLab/juggernaut-demo) to this repo.

**Describe the solution you'd like**
Add a hyperlink to the README.

[2019-09-26 18:16] susanahan commented on #88
@vilaboim can i work on this?

[2019-09-27 06:49] Windrushfarer commented on #84
I'll take this

[2019-09-27 11:26] vilaboim commented on #88
@susanahan be our guest.

[2019-09-27 18:37] marlonmleite opened #90 "Remove not necessary file `CREATE_REACT_APP.md`"

[2019-09-27 18:38] marlonmleite commented on #90
I will soon send the PR, ok @vilaboim?

[2019-09-27 18:43] marlonmleite opened #91 "Update material-ui"
**Is your feature request related to a problem? Please describe.**
Update the version of **@material-ui/core** and **@material-ui/icons**.

[2019-09-27 18:44] marlonmleite opened #92 "Update styled-components"
**Is your feature request related to a problem? Please describe.**
Update the version of **styled-components**.

[2019-09-28 04:30] filoxo commented on #92
I'd like to take this one on.

[2019-09-28 12:18] ibokg commented on #84
Hi! Can I try doing it?

[2019-09-28 14:24] Ania-chan commented on #91
Hi! Can I try doing this issue? 🙏

[2019-09-29 15:22] stanleygomes commented on #84
Sure!

[2019-09-29 15:23] stanleygomes commented on #91
Hi @Ania-chan !!

Sure! It would be great.

[2019-09-29 15:24] stanleygomes commented on #92
Go ahead bro! It's up to you now.

[2019-09-30 01:14] Ania-chan commented on #91
@stanleygomes Thanks! I'll let you know if I encounter any blockers

[2019-09-30 02:26] arnabk commented on #83
@vilaboim You may want to narrow down the scope of this task. If we are supposed to write tests for all files and then add the coverage command, then its a very long work. If you just want to see the test coverage command working and do not really care about coverage percentage in this task, I can help you getting the command added (and may be add one unit to show you that the commands work).

Onc

[2019-09-30 08:39] kmjayadeep commented on #87
Shall I work on travis-ci example

[2019-09-30 15:28] vilaboim commented on #83
@arnabk we already have a `test:coverage` script provided by CRA, we need to write unit tests for all files.
I'll split this issue into smaller ones.

[2019-09-30 15:28] #83 closed

[2019-10-01 15:41] susanahan commented on #88
@vilaboim please assign to me 😄

[2019-10-01 17:17] #92 closed

[2019-10-01 17:24] #86 closed

[2019-10-01 17:37] vilaboim commented on #87
@kmjayadeep it would be great, thanks.

[2019-10-01 17:42] #90 closed

[2019-10-01 17:56] #84 closed

[2019-10-02 19:35] #88 closed

[2019-10-03 18:02] stanleygomes commented on #51
Já foi executado.

[2019-10-03 18:02] #51 closed

[2019-10-04 07:09] Ania-chan commented on #91
@marlonmleite This issue can be closed

[2019-10-04 11:35] #91 closed

[2019-10-09 12:22] marlonmleite opened #110 "Change Ecosystem order"
**Is your feature request related to a problem? Please describe.**
The Ecosystem section is more important than other sections.

**Describe the solution you'd like**
Change the order of section Ecosystem.

[2019-10-11 13:21] marlonmleite opened #113 "Update CRA version"
**Describe the solution you'd like**
Update CRA version to the last release.

**Additional context**
There update has been executed in another project and it's ok.

[2019-10-23 16:53] #113 closed

[2019-11-04 15:13] #110 closed

[2019-11-13 17:38] #85 closed

[2019-11-20 19:45] #69 closed

[2020-01-20 16:39] rafael1995 opened #128 "Gostaria de realizar testes de integração nas funcionalidades dos meus "Containers"."
**Is your feature request related to a problem? Please describe.**
Gostaria de realizar testes de integração nas funcionalidades dos meus "Containers".

Se possível, gostaria de alguma "sugestão" do Juggernaut para isso.

**Describe alternatives you've considered**

Uma possível solução seria com a utilização do react Testing Library

https://github.com/testing-library/react-testing-library

[2020-01-20 17:20] marlonmleite commented on #128
@rafael1995 abri uma thread no Slack do React, depois se tiver interesse podem olhar lá para ver a opinião da galera...

Também vale destacar esse ponto de uma issue do Wordpress que faz 1 comparativo entre as bibliotecas: https://github.com/WordPress/gutenberg/issues/17249#issuecomment-544337655

Como complemento, é interessante vocês lerem os comentários logo em seguida sobre pessoas do Airbnb e

[2020-01-20 17:33] rafael1995 commented on #128
@marlonmleite a ideia é exatamente abrir essa discussão.
Eu acredito que não iremos inseri-la no Juggernaut, mas podemos ter algo em vista de como fazer isso e até alguns exemplos.
Para os testes de unidade, não acredito que a RTL seja melhor ou poderá substituir o que temos hoje.
Irei ler os conteúdos que você comentou.

[2020-01-21 12:20] luizzzdev commented on #128
Vou deixar aqui minha opinião sobre alguns pontos que acredito que pesam na decisão:

1. Custo: sempre ouço falarem "teste de integração é mais caro", mas até então não vi métricas que corroborem essa afirmação. Os testes de integração são mais complexos de serem implementados quando comparados com os de unidade, mas na minha concepção podem ter o melhor custo x beneficio, visto que podem garantir

[2020-01-21 18:40] vilaboim commented on #128
A discussão aqui não entra no mérito de usar o RTL ou Enzyme em produtos do Magalu, aqui falamos do contexto Juggernaut.
Faz sentido termos **exemplos** de testes de integração em containers no Juggernaut? Se sim, aí discutiremos a melhor ferramenta, mas não significa que iremos aplicar isso em produção, pois temos times de QA testando e escrevendo esses testes.

[2020-07-05 12:23] stanleygomes opened #133 "Habilitar opção do github para esse repositorio"
Habiitar opção de "usar este template" no repositorio.

Fica mais fácil de começar um projeto usando o juggernaut.

Segue abaixo exemplo de um repositorio com o botão:

https://github.com/stanleygomes/nodevader

![image](https://user-images.githubusercontent.com/5298153/86532513-05878100-bea1-11ea-889e-f47882b9b6d3.png)

Como habilitar:

![image](https://user-images.githubusercontent.com/5298153/8

[2020-07-06 12:20] vilaboim commented on #133
Done.

[2020-07-06 12:20] #133 closed

[2020-09-28 21:00] #87 closed

[2020-10-02 14:23] vilaboim opened #136 "Update dependencies"
We need to update our project dependencies.
In the last check I saw this outdated deps:
![Screen Shot 2020-10-02 at 11 21 11](https://user-images.githubusercontent.com/4191549/94934023-90c4e280-04a1-11eb-90c6-97dcfe58a763.png)

After update them you will need to test all npm scripts.

[2020-10-02 15:25] vilaboim opened #142 "Remove contributors from README"
Github has a new feature that shows contributors on the lef side of a repository, so all-contributors plugin become obsolete.
![Screen Shot 2020-10-02 at 12 19 54](https://user-images.githubusercontent.com/4191549/94940213-96bec180-04a9-11eb-8f57-e8c4855dbcb6.png)

You will need to remove the badge on the top and the list on the bottom of README.

[2020-10-02 17:28] vilaboim opened #143 "Move resources folder"
**Is your feature request related to a problem? Please describe.**
A better place to resources is `/src/resources` instead of `/src/common/resources`.

**Describe the solution you'd like**
We need to move the folder and add a line to [Project Structures](https://github.com/SoftboxLab/juggernaut#open_file_folder-project-structure) describing what is `resources` folder.

[2020-10-03 16:55] ruturajkanake commented on #136
@vilaboim I would like to work on this issue. Can you assign it to me?

[2020-10-05 16:59] vilaboim opened #145 "Add example of Trans component"
**Is your feature request related to a problem? Please describe.**
Sometimes we need to add `html` to a translation, so we need to use a usa case for [Trans component by react-i18next](https://react.i18next.com/latest/trans-component).

**Describe the solution you'd like**
We need a simple example, so you can add a `<strong>` tag to Juggernaut title in `Home/index.jsx`.

![Screen Shot 2020-10-05 a

[2020-10-05 17:37] stanleygomes commented on #145
Can I do this one?

[2020-10-05 17:40] vilaboim commented on #145
Go get 'em, Tiger.

[2020-10-06 00:27] stanleygomes commented on #145
@fredericofigueira você consegue pegar essa task no meu lugar?

[2020-10-13 13:07] #136 closed

[2020-10-13 15:34] vilaboim opened #146 "Alterar o padrão de nomenclatura de styled-components"
**Is your feature request related to a problem? Please describe.**
No início do projeto definimos que os arquivos de estilo seriam chamados `style.js` em vez de `styled.js` para não atrelar a uma ferramenta específica, mas acabamos fazendo isso no nome dos componentes (StyledTitle, StyleTypography, etc.).

**Describe the solution you'd like**
Pensei em deixarmos sem prefixo ou sufixo (Title, Subti

[2020-10-13 17:51] stanleygomes commented on #146
Cara, eu acho uma boa. Bora fazer.

[2020-10-14 22:30] #142 closed

[2020-10-14 22:32] #143 closed

[2020-10-15 14:00] fredericofigueira commented on #146
Eu gosto da ideia também, bora fazer!

[2020-10-15 22:26] marlonmleite commented on #146
Essa opção do `TypographyJug` não é elegante e muito verboso.

Acho que no styled poderia ser assim:

[code]

Ou algo assim:
[code]

Tem alguns projetos que acompanhei e o pessoal utiliza puro, sem prefixo ou coloca tudo dentro do import (Porém voto por ser sem prefixo nenhum):
[code]

[2020-10-16 15:29] douglaszaltron commented on #146
Uma sujestão é levar a mesma nomeclatura que a biblioteca usa internamente. (O material-ui utiliza o "Mui" como prefixo)
[code]

no import essa abordagem é bacana, a vantagem é que dessa forma o Typography pode coexistirem tanto o estilizado tanto o importado do components.

[code]

Porém sem prefixo apresenta ser mais confortavél visualmente, e como o cenário acima não é tão comum, prefiro assim.

[2020-10-16 15:44] douglaszaltron commented on #146
Sobre o nome do arquivo ser 'styles' ou 'style', já que esse arquivo pode contém mais de uma estilização de componentes diferente não seria interessante ser em plural?

Em alguns projetos que acompanho, quando se trata de um componente isolado, gosto dessa abordagem.

Ao criar um componente novo:

[code]
ou em plural sem o prefix

[code]

[2020-10-29 12:46] #145 closed

[2020-10-29 17:43] #146 closed

[2021-02-25 17:02] stanleygomes opened #153 "Upgrade node version from 10.x to 14.x"
**Is your feature request related to a problem? Please describe.**
Upgrade node version.

**Describe the solution you'd like**
Upgrade

- docs on readme
- add engines to package json
- Dockerfile
- Github workflow

[2021-02-25 17:06] stanleygomes opened #154 "Upgrade CRA version to v4"
**Is your feature request related to a problem? Please describe.**
Upgrade CRA (react-scripts) from v3 to v4 (also react version).

**Additional context**
https://betterprogramming.pub/upgrade-create-react-app-based-projects-to-version-4-cra-4-d7962aee11a6

[2021-02-25 17:07] stanleygomes opened #155 "Upgrade package.json dependencies"
**Is your feature request related to a problem? Please describe.**
Upgrade package.json dependencies

[2021-03-10 01:12] stanleygomes commented on #155
Some dependencies might break in node 14.

![image](https://user-images.githubusercontent.com/5298153/110560248-6fd57d00-8124-11eb-9c71-b32e5ee8b79c.png)